/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 72px;
  color: white;
}

h2 {
  font-size: 56px;
  color: #391400;
}

h3 {
  font-size: 40px;
  color: #391400;
}

h4 {
  font-size: 24px;
  color: #391400;
}

h5 {
  font-size: 15px;
  color: rgb(239, 109, 88);
}

main .sec3 button, #banner .banner .text-content .btns .contact-us button, #header .head .btns button {
  background-color: transparent;
  color: white;
  width: 138px;
  height: 48px;
}
main .sec3 button:hover, #banner .banner .text-content .btns .contact-us button:hover, #header .head .btns button:hover {
  background-color: rgb(239, 109, 88);
  transition: 0.6s;
}

.sec7 .cards .explain button, main .sec3 .card2 .explain-content button, #banner .banner .text-content .btns .how-we-work button {
  background-color: rgb(239, 109, 88);
  color: white;
  width: 154px;
  height: 48px;
}
.sec7 .cards .explain button:hover, main .sec3 .card2 .explain-content button:hover, #banner .banner .text-content .btns .how-we-work button:hover {
  background-color: transparent;
  color: white;
  transition: 0.6s;
}

main .sec2 .text-content1 button {
  background-color: white;
  color: #391400;
  width: 138px;
  height: 48px;
  font-size: 20px;
}

#header .head {
  justify-content: space-around;
  align-items: center;
  display: flex;
  background-color: rgb(40, 41, 62);
  height: 80px;
}
#header .head nav ul {
  display: flex;
  gap: 30px;
}
#header .head nav ul li a {
  color: white;
}
@media (max-width: 767px) {
  #header .head nav {
    display: none;
  }
}
#header .head .menu {
  display: none;
}
@media (max-width: 767px) {
  #header .head .menu {
    display: block;
  }
}

#banner {
  background-color: rgb(40, 41, 62);
  padding: 3rem 0;
}
#banner .banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner .banner .text-content {
  position: relative;
  row-gap: 1.5rem;
}
#banner .banner .text-content h1 {
  position: relative;
  z-index: 1;
  max-width: 513px;
  line-height: 80px;
}
#banner .banner .text-content p {
  color: white;
  opacity: 0.64;
  line-height: 2rem;
  max-width: 470px;
}
#banner .banner .text-content .star {
  position: absolute;
  top: 0;
  right: 30%;
}
#banner .banner .text-content .btns {
  display: flex;
  gap: 20px;
}
#banner .banner .text-content .feedback {
  display: flex;
  gap: 20px;
}
#banner .banner .text-content .feedback .feedtext span {
  color: white;
}
#banner .banner .img-content {
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
@media (max-width: 767px) {
  #banner .banner .img-content {
    flex-direction: column;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .container {
    padding: 0 5%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.3333333333%;
  padding: 1rem;
}

.col-2 {
  width: 16.6666666667%;
  padding: 1rem;
}

.col-3 {
  width: 25%;
  padding: 1rem;
}

.col-4 {
  width: 33.3333333333%;
  padding: 1rem;
}

.col-5 {
  width: 41.6666666667%;
  padding: 1rem;
}

.col-6 {
  width: 50%;
  padding: 1rem;
}

.col-7 {
  width: 58.3333333333%;
  padding: 1rem;
}

.col-8 {
  width: 66.6666666667%;
  padding: 1rem;
}

.col-9 {
  width: 75%;
  padding: 1rem;
}

.col-10 {
  width: 83.3333333333%;
  padding: 1rem;
}

.col-11 {
  width: 91.6666666667%;
  padding: 1rem;
}

.col-12 {
  width: 100%;
  padding: 1rem;
}

.p-left-0 {
  padding-left: 0;
}

.p-right-0 {
  padding-right: 0;
}

@media only screen and (max-width: 1023px) {
  .col-md-1 {
    width: 8.3333333333%;
    padding: 1rem;
  }
  .col-md-2 {
    width: 16.6666666667%;
    padding: 1rem;
  }
  .col-md-3 {
    width: 25%;
    padding: 1rem;
  }
  .col-md-4 {
    width: 33.3333333333%;
    padding: 1rem;
  }
  .col-md-5 {
    width: 41.6666666667%;
    padding: 1rem;
  }
  .col-md-6 {
    width: 50%;
    padding: 1rem;
  }
  .col-md-7 {
    width: 58.3333333333%;
    padding: 1rem;
  }
  .col-md-8 {
    width: 66.6666666667%;
    padding: 1rem;
  }
  .col-md-9 {
    width: 75%;
    padding: 1rem;
  }
  .col-md-10 {
    width: 83.3333333333%;
    padding: 1rem;
  }
  .col-md-11 {
    width: 91.6666666667%;
    padding: 1rem;
  }
  .col-md-12 {
    width: 100%;
    padding: 1rem;
  }
  .p-md-left-0 {
    padding-left: 0;
  }
  .p-md-right-0 {
    padding-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .col-sm-1 {
    width: 8.3333333333%;
    padding: 1rem;
  }
  .col-sm-2 {
    width: 16.6666666667%;
    padding: 1rem;
  }
  .col-sm-3 {
    width: 25%;
    padding: 1rem;
  }
  .col-sm-4 {
    width: 33.3333333333%;
    padding: 1rem;
  }
  .col-sm-5 {
    width: 41.6666666667%;
    padding: 1rem;
  }
  .col-sm-6 {
    width: 50%;
    padding: 1rem;
  }
  .col-sm-7 {
    width: 58.3333333333%;
    padding: 1rem;
  }
  .col-sm-8 {
    width: 66.6666666667%;
    padding: 1rem;
  }
  .col-sm-9 {
    width: 75%;
    padding: 1rem;
  }
  .col-sm-10 {
    width: 83.3333333333%;
    padding: 1rem;
  }
  .col-sm-11 {
    width: 91.6666666667%;
    padding: 1rem;
  }
  .col-sm-12 {
    width: 100%;
    padding: 1rem;
  }
  .p-sm-left-0 {
    padding-left: 0;
  }
  .p-sm-right-0 {
    padding-right: 0;
  }
}
main #partners {
  background-color: rgb(230, 223, 211);
  padding: 3rem 0;
}
main #partners .partner {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
@media (max-width: 767px) {
  main #partners .partner {
    justify-content: center;
  }
}
main .sec2 {
  background-color: rgb(230, 223, 211);
}
main .sec2 .design-page {
  display: flex;
  align-items: center;
  gap: 40px;
}
main .sec2 .text-content1 {
  font-family: serif;
  color: #391400;
  line-height: 50px;
}
main .sec2 .text-content1 button {
  cursor: pointer;
}
main .sec3 {
  background-color: rgb(40, 41, 62);
  margin-top: 200px;
}
main .sec3 button {
  margin-left: 45%;
  margin-top: 3%;
}
main .sec3 .card2 {
  background-color: rgb(253, 240, 233);
  width: 1170px;
  height: 336px;
  border-radius: 6px;
  display: flex;
  margin-top: 60px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  margin-left: 350px;
}
main .sec3 .card2 .explain-content {
  line-height: 32px;
}
main .sec3 .card2 .explain-content button {
  margin-left: 20px;
  border: none;
}
main .sec3 .card2 .explain-content button:hover {
  background-color: transparent;
  color: rgb(239, 109, 88);
  border: 1px solid rgb(239, 109, 88);
}
main .sec3 .card2 .img-content2 {
  width: 282px;
  height: 242px;
  position: relative;
}
main .sec3 .card2 .img-content2 .img1 {
  position: absolute;
}
main .sec3 .card2 .img-content2 .img2 {
  position: absolute;
  top: 0;
  right: -50px;
}

#header .head {
  justify-content: space-around;
  align-items: center;
  display: flex;
  background-color: rgb(40, 41, 62);
  height: 80px;
}
#header .head nav ul {
  display: flex;
  gap: 30px;
}
#header .head nav ul li a {
  color: white;
}
@media (max-width: 767px) {
  #header .head nav {
    display: none;
  }
}
#header .head .menu {
  display: none;
}
@media (max-width: 767px) {
  #header .head .menu {
    display: block;
  }
}

.sec1 #banner .container .row .banner .text {
  color: white;
  text-align: center;
}

.sec2 {
  background-color: rgb(253, 240, 233);
}
.sec2 .text-content {
  line-height: 64px;
  text-align: center;
}
.sec2 .text-content p {
  line-height: 32px;
  font-size: 20px;
}
.sec2 .text-content h5 {
  font-size: 20px;
}
.sec2 img {
  margin-top: 50px;
}

.sec3 {
  background-color: rgb(253, 240, 233);
}
.sec3 .card .col-6 {
  border: 1px solid rgb(239, 109, 88);
  margin-top: 50px;
}
.sec3 .card .col-6 .image {
  display: flex;
  position: relative;
}
.sec3 .card .col-6 .image .icon {
  position: relative;
}
.sec3 .card .col-6 .image .icon i {
  font-size: 40px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  color: white;
  z-index: 1;
}
.sec3 .card .col-6 .image .icon img {
  position: relative;
}
.sec3 .card .col-6 .image .text1 {
  margin-left: 20px;
  margin-top: 20px;
}

.sec4 {
  background-color: rgb(253, 240, 233);
}
.sec4 .card3 {
  justify-content: center;
}
.sec4 .card3 .text {
  text-align: center;
  margin-top: 50px;
  line-height: 50px;
}
.sec4 .card3 .text h5 {
  font-size: 30px;
}
.sec4 .card3 .text p {
  font-size: 26px;
  opacity: 0.6;
}
.sec4 .card3 .video-content {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.sec4 .card3 .parag2 {
  text-align: center;
  margin-top: 50px;
  line-height: 40px;
}
.sec4 .card3 .parag2 p {
  font-size: 20px;
  opacity: 0.6;
}

.sec5 {
  background-color: rgb(253, 240, 233);
}
.sec5 .card4 {
  display: flex;
  margin-top: 60px;
  justify-content: center;
}
.sec5 .card4 .text4 {
  text-align: center;
  line-height: 50px;
}
.sec5 .card4 .text4 h3 {
  font-size: 60px;
}
.sec5 .card4 .text4 p {
  line-height: 50px;
  font-size: 20px;
}
.sec5 .card4 .text4 h5 {
  font-size: 20px;
}

.sec6 {
  background-color: rgb(253, 240, 233);
}
.sec6 .image-prtn {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}

.sec7 {
  background-color: rgb(249, 229, 218);
}
.sec7 .cards {
  display: flex;
  padding-top: 30px;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
}
.sec7 .cards .explain {
  line-height: 40px;
  position: relative;
  z-index: 1;
}
.sec7 .cards .explain .star1 {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.sec7 .cards .explain .star1 img {
  width: 80px;
  height: auto;
}
.sec7 .cards .explain h4 {
  font-family: fantasy;
}
.sec7 .cards .explain button {
  border: none;
  transition: 2s;
}
.sec7 .cards .explain button:hover {
  border: 1px solid rgb(239, 109, 88);
  color: rgb(239, 109, 88);
}
.sec7 .cards .text p {
  line-height: 32px;
}
.sec7 .cards .photo {
  position: relative;
}
.sec7 .cards .photo .img1 {
  position: relative;
}
.sec7 .cards .photo .img2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 190px;
}

footer .foot {
  background-color: rgb(40, 41, 62);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}
footer .foot .personal h4 {
  color: white;
}
footer .foot .menu1 ul {
  line-height: 20px;
}
footer .foot .menu1 ul li {
  color: white;
}
footer .foot .service1 ul {
  line-height: 20px;
}
footer .foot .service1 ul li {
  color: white;
}
footer .foot .icons i {
  font-size: 25px;
  border-radius: 50%;
}/*# sourceMappingURL=main.css.map */