
h1{
    font-size: 72px;
    color: $bg-color-1;
}
h2{
  font-size: 56px;
  color: $color;
}
h3{
    font-size: 40px;
    color: $color;

}
h4{
    font-size: 24px;
    color: $color;

}
h5{
    font-size: 15px;
    color: $bg-color-2;

}




