body {
    height: 200vh; 
}

.container {
    position: relative;
    height: 100vh; 
     
}

.photo1, .photo2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.photo1 {
    background-image: url('https://luminous-jalebi-df04d9.netlify.app/images/big.jpeg');
    top: 0; 
    background-attachment: fixed;
}

.photo2 {
    background-image: url('https://luminous-jalebi-df04d9.netlify.app/images/folder-img.jpeg');
    top: 100%; 
    transition: top 0.5s; 
}


.container:hover .photo2 {
    top: 0; 
}
h1 .photo1{
    text-align: center;
}
