* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.head {
  position: fixed;
  z-index: 2;
  width: 1200px;
  top: 0;
}
.head nav {
  padding: 30px;
  justify-content: space-around;
  display: flex;
  background-color: rgb(243, 236, 237);
}

nav ul {
  display: flex;
  gap: 30px;
}

.head nav .icon{
  display: none;
  
}

.sec1 .img {
  background-image: url("https://img.freepik.com/free-photo/top-view-arrangement-natural-material-stationery_23-2148898233.jpg?size=626&ext=jpg&ga=GA1.1.967060102.1729036800&semt=ais_hybrid");
  background-position: center;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 60px;
 
}
.sec1 .text {
  position: absolute;
  text-align: center;
  color: white;
 
  margin-top: 200px;
  margin-left: 400px;
  font-size: 30px;
}

.sec1 button {
  margin-top: 20px;
  padding: 20px 40px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: burlywood;
}

.sec2 {
  padding-top: 150px;
}
.row .col-4 h3 {
  color: black;
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
}
.col-4 p {
  padding-top: 50px;
}
.sec2 .col-4 i {
  border: 1px solid rgb(221, 224, 26);
  width: 150px;
  height: 120px;
  font-size: 50px;
  background-color: yellow;
  color: white;
  margin-left: 100px;
  padding-left: 50px;
  padding-top: 30px;
  border-radius: 70%;
}

.sec2 h3 {
  color: black;
  text-align: center;
  margin-top: 30px;
}
.sec3 h3 {
  color: black;
  text-align: center;
  margin-top: 40px;
}
.sec3 .col-2 {
  padding-top: 40px;
  width: 400px;
  height: 300px;
  row-gap: 70px;
  column-gap: 70px;
}

.sec3 .col-2 img {
  width: 350px;
  height: 240px;
}

.sec3 .container {
}
.image {
  position: relative;

  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
  background-color: yellow;
}
.sec .container .overlay:hover {
  opacity: 0.5;
}

.ic {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.sec3 p {
  text-align: center;
  font-size: 20px;
  font-family: fantasy;
}

.sec4 {
  margin-top: 60px;
  background-color: rgb(238, 235, 235);
  height: 400px;
  display: flex;
  justify-content: space-around;
  gap: 100px;
  padding: 50px;
}

.sec4 h4 {
  color: gray;
  font-size: 40px;
  opacity: 50%;
}
.sec4 i {
  font-size: 40px;
}

.head .icon {
  display: none;
}

.sec5 .container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.sec5 .col-4 {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: calc(30% - 20px);
  margin-bottom: 20px;
  padding: 15px;
}

.sec5 .col-4 img {
  max-width: 100%;
  border-radius: 50%;
}

.sec5 .col-4 .icon {
  text-align: center;
  margin-top: 20px;
}

.sec5 .col-4 .icon i {
  color: white;
  background-color: black;
  gap: 20px;
  border-radius: 50%;
  padding-top: 5px;
}

@media only screen and (max-width: 767px) {
  .head nav .icon {
    display:block;
    position: absolute;
    
    
  }
  nav h4{
    font-size: 18px;
    margin: 0;
    position: absolute;
    left: 5px;
   
  }
  nav ul {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  header nav {
    text-align: center;
  }

  .sec1 {
    height: 100vh; /* Telefon formatında ekranın tam hündürlüyü */
    background-position: center;
    background-size: cover; /* Şəkilin tam genişlikdə və hündürlükdə görünməsi */
  }

  .sec1 .text {
    margin-left: 5px;
    margin-top: 15px;
    width: 100%;
  }
  
  .sec1 .img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sec1 .img img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .sec5 .col-sm-12 img {
    width: 100%;
    height: auto;
  }

  .sec5 .icon {
    justify-content: center;
  }
}
