footer{
    margin-top: 2rem;
    background-color: black;
    h3{
        padding-top: 1rem;
        color: white;
    }
    p{
        padding-top: 1rem;
        color: white;
    }
    input{
        margin-top: 1rem;
    }
}