.cardholder{
    display: flex;
    gap: 3rem;
    padding: 2rem ;
    flex-wrap: wrap;
    .card{
        border: 2px solid blue;
        border-radius: 8px;
        img{
            display: flex;
            margin-left: 100px;
            padding: 10px;
        }
        button{
            margin-top: 20px;
            margin-left: 20px;
            width: 100px;
            height: 30px;
            background-color: lightblue;
            border: none;
            border-radius: 5px;
        }
    }
}
.search{
    margin-top: 2rem;
    margin-left: 2rem;
}