/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.endsec {
  margin-top: 100px;
}
.endsec .row {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
}
.endsec .row .col-4 h3 {
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
}
.endsec .row .col-4 p {
  font-size: 15px;
  line-height: 30px;
}
.endsec .row .col-4 p span {
  font-size: 23px;
  color: red;
  font-family: fantasy;
}
.endsec .row .input-container {
  position: relative;
}
.endsec .row .input-container input {
  margin-top: 40px;
  width: 390px;
  height: 40px;
  border-radius: 20px;
  padding-right: 40px;
  border: none;
  background-color: rgb(241, 237, 237);
}
.endsec .row .input-container a {
  position: absolute;
  right: 0;
  top: 41px;
  color: white;
  background-color: red;
  height: 37px;
  width: 50px;
  text-align: center;
  border: 25px;
  border-radius: 20px;
}
.endsec .row .input-container a i {
  margin-top: 10px;
}
.endsec .row .ic1 {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: end;
}
.endsec .row .ic1 i {
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  text-align: center;
  align-items: center;
  padding-top: 6px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}
.endsec .row .ic1 i:hover {
  background-color: red;
  color: white;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: white;
  height: 150px;
}
@media (max-width: 767px) {
  #header {
    justify-content: center;
  }
}
#header .head {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 767px) {
  #header .head {
    display: none;
  }
}
#header .head h3 {
  font-size: 15px;
  font-family: fantasy;
}
#header .head p {
  font-size: 20px;
  font-family: fantasy;
}
#header .head .icon {
  display: flex;
  gap: 10px;
}
#header .head .icon i {
  border: 1px solid red;
  width: 50px;
  height: auto;
  background-color: red;
  color: white;
  text-align: center;
  padding-top: 10px;
}
#header .head2 {
  padding-top: 40px;
}
#header .head2 ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 767px) {
  #header .head2 ul {
    gap: 10px;
  }
}
#header .head2 ul a li {
  color: black;
  cursor: pointer;
}
#header .head2 ul a li:hover {
  color: red;
}

.banner {
  padding-top: 150px;
}
.banner img {
  width: 100%;
  position: relative;
}
@media (max-width: 767px) {
  .banner img {
    justify-content: center;
  }
}
.banner .text {
  position: absolute;
  top: 50%;
  left: 38%;
  text-align: center;
  color: white;
}
@media (max-width: 767px) {
  .banner .text {
    text-align: center;
    font-size: 10px;
    top: 25%;
    left: 30%;
  }
}
.banner .text h1 {
  font-size: 40px;
  font-family: fantasy;
  line-height: 50px;
}
@media (max-width: 767px) {
  .banner .text h1 {
    text-align: center;
    font-size: 18px;
  }
}
.banner .text p {
  font-size: large;
  text-align: center;
}

.sec1 h2 {
  text-align: center;
  font-size: 30px;
  font-family: serif;
  padding-top: 40px;
}
.sec1 p {
  text-align: center;
  padding-top: 10px;
}
.sec1 .cards {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
@media (max-width: 767px) {
  .sec1 .cards {
    flex-direction: column;
  }
}
.sec1 .cards .row {
  display: flex;
  gap: 30px;
  flex-wrap: nowrap;
}
@media (max-width: 767px) {
  .sec1 .cards .row {
    flex-direction: column;
  }
}
.sec1 .cards .row .col-4 {
  border: none;
  line-height: 25px;
  box-shadow: 0 5px 30px rgba(255, 0, 0, 0.7);
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
}
@media (max-width: 767px) {
  .sec1 .cards .row .col-4 {
    max-width: 100%;
  }
}
.sec1 .cards .row .col-4 img {
  padding-left: 40%;
  max-width: 100%;
  height: auto;
}
.sec1 .cards .row .col-4 h4 {
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
}
.sec1 .cards .row .col-4 p {
  opacity: 0.7;
}

main .sec2 {
  background-color: red;
  margin-top: 50px;
  height: 250px;
}
main .sec2 h1,
main .sec2 p {
  text-align: center;
  font-size: 20px;
  padding-top: 40px;
  color: white;
}
main .sec2 .input-container {
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
}
main .sec2 .input-container input {
  background-color: transparent;
  border: 1px solid white;
  width: 200px;
  height: 40px;
}
main .sec2 .input-container input::placeholder {
  color: #fff;
  opacity: 0.8;
}
main .sec2 .input-container button {
  background-color: white;
  width: 200px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
main .sec2 .input-container button:hover {
  background-color: transparent;
  color: black;
  border: 1px solid white;
  transition: 1s;
}
main .sec3 {
  padding-top: 100px;
}
main .sec3 h1,
main .sec3 p {
  text-align: center;
  line-height: 40px;
  font-size: 30px;
}
main .sec3 .container .row {
  display: flex;
  flex-wrap: wrap;
}
main .sec3 .container .row .img-container {
  position: relative;
}
@media (max-width: 767px) {
  main .sec3 .container .row .img-container {
    width: 100%;
  }
}
main .sec3 .container .row .cours-btn {
  position: absolute;
  bottom: 5%;
  left: 30%;
  transform: translate(-50%, -50%);
}
main .sec3 .container .row .cours-btn button {
  background-color: red;
  border: none;
  width: 130px;
  height: 30px;
  color: white;
}
@media (max-width: 767px) {
  main .sec3 .container .row .col-4 {
    width: 100%;
  }
}
main .sec3 .container .row .col-4 p {
  text-align: start;
}
main .sec3 .container .row .col-4 span {
  color: red;
}
main .sec4 {
  margin-top: 100px;
  background-color: black;
}
main .sec4 .row {
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 767px) {
  main .sec4 .row {
    flex-direction: column;
  }
}
main .sec4 .row img {
  width: 100%;
}
@media (max-width: 767px) {
  main .sec4 .row .col-3 {
    max-width: 100%;
  }
}
main .sec4 .row .col-3 .text1 {
  line-height: 30px;
  font-size: 20px;
}
main .sec4 .row .col-3 .text1 h3 {
  color: red;
  font-family: fantasy;
}
main .sec4 .row .col-3 .text1 p {
  color: white;
  opacity: 0.7;
}
main .sec5 {
  margin-top: 100px;
}
main .sec5 h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
main .sec5 p {
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}
main .sec5 table {
  margin-top: 50px;
  width: 100%;
  border-collapse: collapse;
}
main .sec5 table th,
main .sec5 table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}
main .sec5 table th {
  background-color: #f2f2f2;
  font-weight: bold;
}
main .sec5 table tr:nth-child(even) {
  background-color: #f9f9f9;
}
main .sec5 table td:hover {
  background-color: red;
  color: white;
}
main .sec6 {
  margin-top: 100px;
}
main .sec6 .row {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}
@media (max-width: 767px) {
  main .sec6 .row {
    flex-direction: column;
  }
}
main .sec6 .row .col-3 {
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  main .sec6 .row .col-3 {
    width: 100%;
  }
}
main .sec6 .row .col-3 .img-wrapper {
  position: relative;
}
main .sec6 .row .col-3 .img-wrapper img {
  width: 100%;
  display: block;
}
main .sec6 .row .col-3 .img-wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.6);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.6s;
}
main .sec6 .row .col-3 .img-wrapper .overlay i {
  font-size: 20px;
  color: white;
}
main .sec6 .row .col-3 .img-wrapper:hover .overlay {
  opacity: 1;
}
main .sec6 .row .col-3 .img-wrapper .img-content {
  text-align: center;
  margin-top: 10px;
}
main .sec6 .row .col-3 .img-wrapper .img-content h3 {
  font-weight: bold;
  font-size: 20px;
}
main .sec6 h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
main .sec6 p {
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
}
main .sec7 {
  margin-top: 100px;
  background-color: rgb(239, 233, 233);
}
main .sec7 h1 {
  text-align: start;
  font-size: 20px;
  font-weight: bold;
}
main .sec7 span {
  display: flex;
  justify-content: end;
  font-weight: bold;
  font-size: 30px;
  color: red;
}
main .sec7 .card-content2:hover {
  background-color: red;
  opacity: 0.8;
}
main .sec7 .card-content2 p {
  font-size: 20px;
  opacity: 0.7;
  text-align: center;
}
main .sec7 .card-content2 .btn1 {
  display: flex;
  justify-content: center;
  position: relative;
}
main .sec7 .card-content2 .btn1 button {
  width: 80%;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  position: block;
  transform: 1s ease;
}
main .sec7 .card-content2 .btn1 button:hover {
  background-color: white;
  color: black;
  transform: 1s;
}
main .sec7 .card-content2 .btn1 i {
  position: absolute;
  color: white;
  transform: translate(-50%, -50%);
  top: 50%;
  right: 10%;
  cursor: pointer;
}
@media (max-width: 767px) {
  main .sec7 {
    flex-direction: column;
  }
}
main .sec7 .col-4 {
  max-width: 100%;
}
main .sec8 {
  margin-top: 100px;
  max-width: 100%;
}
main .sec8 .image {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 767px) {
  main .sec8 .image {
    flex-direction: column;
  }
}
main .sec8 .image img {
  opacity: 0.5;
  cursor: pointer;
  transition: 1s;
}
@media (max-width: 767px) {
  main .sec8 .image img {
    width: 100%;
  }
}
main .sec8 .image img:hover {
  transition: 1s;
  opacity: 1;
}
main .sec9 {
  padding-top: 100px;
  position: relative;
}
main .sec9 img {
  width: 100%;
  position: relative;
}
main .sec9 .text2 {
  position: absolute;
  top: 50%;
  line-height: 40px;
}
main .sec9 .text2 h1 {
  font-size: 30px;
  color: white;
  text-align: center;
  font-weight: bold;
}
main .sec9 .text2 p {
  text-align: center;
  color: white;
  margin-left: 50px;
}
main .sec9 .text2 button {
  border: none;
  background-color: red;
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  margin-left: 45%;
  cursor: pointer;
}
main .sec9 .text2 button:hover {
  background-color: transparent;
  border: 1px solid white;
  transition: 0.5s;
}
@media (max-width: 767px) {
  main .sec9 .text2 button {
    display: none;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .container {
    padding: 0 5%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.3333333333%;
  padding: 1rem;
}

.col-2 {
  width: 16.6666666667%;
  padding: 1rem;
}

.col-3 {
  width: 25%;
  padding: 1rem;
}

.col-4 {
  width: 33.3333333333%;
  padding: 1rem;
}

.col-5 {
  width: 41.6666666667%;
  padding: 1rem;
}

.col-6 {
  width: 50%;
  padding: 1rem;
}

.col-7 {
  width: 58.3333333333%;
  padding: 1rem;
}

.col-8 {
  width: 66.6666666667%;
  padding: 1rem;
}

.col-9 {
  width: 75%;
  padding: 1rem;
}

.col-10 {
  width: 83.3333333333%;
  padding: 1rem;
}

.col-11 {
  width: 91.6666666667%;
  padding: 1rem;
}

.col-12 {
  width: 100%;
  padding: 1rem;
}

.p-left-0 {
  padding-left: 0;
}

.p-right-0 {
  padding-right: 0;
}

@media only screen and (max-width: 1023px) {
  .col-md-1 {
    width: 8.3333333333%;
    padding: 1rem;
  }
  .col-md-2 {
    width: 16.6666666667%;
    padding: 1rem;
  }
  .col-md-3 {
    width: 25%;
    padding: 1rem;
  }
  .col-md-4 {
    width: 33.3333333333%;
    padding: 1rem;
  }
  .col-md-5 {
    width: 41.6666666667%;
    padding: 1rem;
  }
  .col-md-6 {
    width: 50%;
    padding: 1rem;
  }
  .col-md-7 {
    width: 58.3333333333%;
    padding: 1rem;
  }
  .col-md-8 {
    width: 66.6666666667%;
    padding: 1rem;
  }
  .col-md-9 {
    width: 75%;
    padding: 1rem;
  }
  .col-md-10 {
    width: 83.3333333333%;
    padding: 1rem;
  }
  .col-md-11 {
    width: 91.6666666667%;
    padding: 1rem;
  }
  .col-md-12 {
    width: 100%;
    padding: 1rem;
  }
  .p-md-left-0 {
    padding-left: 0;
  }
  .p-md-right-0 {
    padding-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .col-sm-1 {
    width: 8.3333333333%;
    padding: 1rem;
  }
  .col-sm-2 {
    width: 16.6666666667%;
    padding: 1rem;
  }
  .col-sm-3 {
    width: 25%;
    padding: 1rem;
  }
  .col-sm-4 {
    width: 33.3333333333%;
    padding: 1rem;
  }
  .col-sm-5 {
    width: 41.6666666667%;
    padding: 1rem;
  }
  .col-sm-6 {
    width: 50%;
    padding: 1rem;
  }
  .col-sm-7 {
    width: 58.3333333333%;
    padding: 1rem;
  }
  .col-sm-8 {
    width: 66.6666666667%;
    padding: 1rem;
  }
  .col-sm-9 {
    width: 75%;
    padding: 1rem;
  }
  .col-sm-10 {
    width: 83.3333333333%;
    padding: 1rem;
  }
  .col-sm-11 {
    width: 91.6666666667%;
    padding: 1rem;
  }
  .col-sm-12 {
    width: 100%;
    padding: 1rem;
  }
  .p-sm-left-0 {
    padding-left: 0;
  }
  .p-sm-right-0 {
    padding-right: 0;
  }
}/*# sourceMappingURL=main.css.map */