main {
  #partners {
    background-color: rgb(230, 223, 211);
    padding: 3rem 0;

    .partner {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      @include for-phone-only {
        justify-content: center;
      }
    }
  }

  .sec2 {
    background-color: rgb(230, 223, 211);
    .design-page {
      display: flex;
      align-items: center;
      gap: 40px;
    }

    .text-content1 {
      font-family: serif;
      color: $color;
      line-height: 50px;
      button {
        @extend %third-btn;
        cursor: pointer;
      }
    }
  }

  .sec3 {
    background-color: $bg-secondary-color;
    margin-top: 200px;

    button {
      @extend %primary-btn;
      margin-left: 45%;
      margin-top: 3%;
    }

    .card2 {
      background-color: $bg-primary-color;
      width: 1170px;
      height: 336px;
      border-radius: 6px;
      display: flex;
      margin-top: 60px;
      margin-bottom: 40px;
      justify-content: center;
      align-items: center;
      margin-left: 350px;

      .explain-content {
        line-height: 32px;
        button {
          margin-left: 20px;
          @extend %secondary-btn;
          border: none;
          &:hover {
            background-color: transparent;
            color: $bg-color-2;
            border: 1px solid $bg-color-2;
          }
        }
      }
      .img-content2 {
        width: 282px;
        height: 242px;
        position: relative;

        .img1 {
          position: absolute;
        }
        .img2 {
          position: absolute;
          top: 0;
          right: -50px;
        }
      }
    }
  }
}
