.adminheader{
    background-color: darkgreen;
    padding: 2rem 0;
    h2{
        color: white;
    }
    ul{
        display: flex;
        justify-content: center;
        gap: 3rem;
        list-style: none;
        
        li{
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
   
}